<div class="color_theme">
    <div class="content">
        <div class="flex flex-col text-center w-auto h-screen">
            <div class = "top-0 w-full  flex flex-row justify-center text-center z-100 opacity-100 pt-6 justify-between">
                <a href="/" class="w-24 max-w-24 m-0">
                    <img src="assets/icons/darkbluelogo.svg" class=" transition duration-250 hover:scale-110" />
                </a>
                <div class="flex justify-center text-center items-center">
                    <a class = "inline-block m-0 mx-4 text-xl text-no-underline text-gray-800 font-semibold transition duration-250 transform hover:text-gray-900 hover:scale-110" href="how-it-works.html">How it works</a>
                    <a class = "inline-block m-0 mx-4 text-xl text-no-underline text-gray-800 font-semibold transition duration-250 transform hover:text-gray-900 hover:scale-110" href="about.html">About</a>
                    <a class = "inline-block m-0 mx-4 text-xl text-no-underline text-gray-800 font-semibold transition duration-250 transform hover:text-gray-900 hover:scale-110" href="team.html">Team</a>
                </div>
                <a routerLink="/login"><button class = "button">Login</button> </a>
            </div>
            
            <div class="mt-40">
                <h1 class="fade">
                    Unleash your interviewing <a class="green glowing-text">success</a> <br/>with <a class="blue">AI-driven analysis.</a>
                </h1>
                <h2 class="fade">
                    Use the latest facial and audio emotion recognition <br/> along with generative pretrained transformers to analyze your inteviews
                </h2>
            
            </div>
            <a class="fade" routerLink="/user/dashboard"><button class="button">Start Practicing!</button> </a>

        </div>
    </div>
</div>

