
mat-form-field{
  margin-top: 30px;
  margin-left: 30px;
  overflow: visible !important;
  margin-bottom: 0px;
}

.table-div {
  width: 92%;
  margin:4%;
}

.table {
  margin-left: 2%;
  margin-top: 2%;
  float: left;
  border: 1px solid #777777;
  background-color: white;
  width: 80%;
  height: 100%;
}

.header {
  background-color: #f0f0f0;
  border-radius: 15px;
  font-size: 13px;
  color: #4c4c4c;
  border: 5px solid #0000;
}

.dateColumnHeader{
  min-width: 120px;
}