.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* Optional: adds underline to make it obvious it's a tooltip */
  color: red;
  cursor: help; /* Changes cursor to indicate interactive element */
  font-size: 20px; /* Adjust as needed */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - uses CSS3 animations */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
