<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="">
    <div class="relative flex justify-center items-center">
      <div
        class="bg-red-600 text-white w-8 h-8 flex justify-center items-center rounded-full cursor-pointer"
      >
        ?
      </div>
      <div
        class="absolute bottom-full mb-2 hidden group-hover:flex justify-center items-center w-auto bg-black text-white text-sm py-2 px-4 rounded-md"
      >
        More info here
      </div>
    </div>
  </body>
</html>
