<div class="h-screen flex items-center justify-center bg-gray-200">
    <div class="bg-white rounded-lg shadow-md w-3/5 h-3/5">
        <div class="flex h-1/5 bg-red-200 rounded-t-lg items-center">
            <div class = "pl-16">
                <p class = "text-red-700 font-semibold">
                    Authentification failed. Your login link has expired, please try again with a new link.
                </p>    
            </div>
        
        </div>

        <div class="flex flex-col bg-white p-8 rounded-lg shadow-md justify-center items-center h-4/5">
    
            <h1 class="text-2xl font-bold mb-4 text-center">Login Link Expired</h1>
    
            <h3 class="text-center mb-12">Login link access expires after 2 hours. A new login link is required.</h3>
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-4/5">
                Click here to login
            </button>

        </div>
    </div>
    
</div>
