/* Add your custom styles here */

  .maincontainer{
    margin:0;
    height:99.9%;
    display:flex;
    flex-direction: row;
    
  }
  

  /* MENU */
  .main-menu{
    display:flex;
    background-color:white;
    height:100%;
    width:100%;
    margin:0;
  }
  
  .main-tab {
    float: left;
    border: 1px solid #ccc;
    background-color: white;
    width: 30%;
    height: 100%;
    border-bottom: none;
  }
  
  .main-tab button {
    display: block;
    color: black;
    padding: 22px 16px;
    width: 90%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    margin: 5%; 
    border-radius: 1px;
  }
  
  .main-tab button:hover {
    background-color: #f8f8f8;
  }
  
  .main-tab-active {
    background-color: #caf9ff;
    font-size: 300px;
  }
  

  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 80%;
    height:100%;
    border-left: none;
    border-bottom:none;
    overflow:auto;
  } 
  

  .file-upload {
    cursor: pointer;
  }
  .file-upload:hover {
    color: #4f46e5; /* Replace with your desired color value */
  }
  
  /* Normal CSS for focus-within state */
  .file-upload:focus-within {
    outline: none; /* Remove outline on focus */
  }
  
  .file-upload:focus-within {
    box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5); /* Replace with your desired shadow */
  }
  
  .file-upload:focus-within {
    outline-offset: 2px; /* Offset outline */
  }
  
  .file-upload:focus-within {
    border-color: #4f46e5; /* Replace with your desired color value */
  }