<a [routerLink]="'/'">
    <mat-icon class="m-10 scale-300 absolute top-0 left-0" svgIcon="darkbluelogo"/>
</a>
<div class="h-screen flex flex-col items-center justify-center bg-gray-200">
   
    <h1 class="text-5xl font-bold mb-4 text-center">Uh Oh! We ran into a problem</h1>
    
    <div>
        <h2 class="text-3xl font-bold text-center my-12">Error 404</h2>
    </div>
    <p>
        The page you are looking for does not exist. Please head back, or contact us if you thing this is a bug!
    </p>
    <button type="button" class="text-white mt-10 bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-2/5">
        Report Error
    </button>



    
</div>

